Newsletter.json
{
  "name": "Newsletter",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        16
      ],
      "id": "ea2a7782-92b3-4e49-b127-fbc9449bd964",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI news curator.  \n{{ $json.articles }}\nRules:\n- Return **only valid JSON**.  \n- No markdown, no commentary, no text outside JSON.  \n- Do not add explanations.  \n\nTask:\nSummarize only AI/ML and major tech updates from the last 24 hours.  \nFocus on new tools, research breakthroughs, industry moves, or regulations.  \n\nOutput JSON schema (strictly follow this format):\n{\n  \"ai_updates\": [\n    {\"title\": \"string\", \"summary\": \"string\", \"link\": \"string\"},\n    {\"title\": \"string\", \"summary\": \"string\", \"link\": \"string\"}\n  ],\n  \"tech_update\": {\n    \"title\": \"string\",\n    \"summary\": \"string\",\n    \"link\": \"string\"\n  },\n  \"motivation\": \"string\"\n}\n\nIf no update exists for a field, leave it as an empty string.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI news curator.\n\nRules:\n- Output **only valid JSON**.\n- No explanations, no markdown, no extra text.\n\nTask:\nSummarize only AI/ML and major tech updates from the last 24 hours.\n\nOutput JSON schema (strictly this format):\n{\n  \"ai_updates\": [\n    {\"title\": \"string\", \"summary\": \"string\", \"link\": \"string\"}\n  ],\n  \"tech_update\": {\n    \"title\": \"string\",\n    \"summary\": \"string\",\n    \"link\": \"string\"\n  },\n  \"motivation\": \"string\"\n}\n\nIf no data exists for a field, leave it as an empty string.\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        16
      ],
      "id": "2dd975e4-6b1b-475c-9182-2b18866de207",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"ai_updates\": [\n    {\n      \"title\": \"string\",\n      \"summary\": \"string\",\n      \"link\": \"url\"\n    },\n    {\n      \"title\": \"string\",\n      \"summary\": \"string\",\n      \"link\": \"url\"\n    },\n    {\n      \"title\": \"string\",\n      \"summary\": \"string\",\n      \"link\": \"url\"\n    }\n  ],\n  \"tech_update\": {\n    \"title\": \"string\",\n    \"summary\": \"string\",\n    \"link\": \"url\"\n  },\n  \"motivation\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        464,
        240
      ],
      "id": "b0ba4b14-a916-4f53-8c43-fdbeda246df8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        296,
        240
      ],
      "id": "8b98d6f4-fde9-436e-b7f5-29eb63fd98f0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AR4IwlG1P29gNLDD",
          "name": "AI Studio acc"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything?q=AI&language=en&from={{ $now.format(\"YYYY-MM-DD\") }}&to={{ $now.format(\"YYYY-MM-DD\") }}&sortBy=publishedAt\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        16
      ],
      "id": "556cc53e-691d-4812-b2e8-b9f68ce6787c",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8jvroustxcdZZgOM",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // all incoming articles\n\n// grab only useful info\nconst cleaned = items[0].json.articles.map(a => ({\n  title: a.title,\n  description: a.description,\n  url: a.url,\n  publishedAt: a.publishedAt,\n}));\n\n// return as single array of items\nreturn cleaned.map(a => ({ json: a }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        16
      ],
      "id": "708b4736-8926-4230-816c-c6b3f761e390",
      "name": "Code"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        64,
        16
      ],
      "id": "0a8e4483-c951-4399-8283-600d98e3f257",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "=\\ {{ $json.to }}",
        "subject": "=Daily Newsletter {{ $json['Subject '] }}",
        "emailType": "text",
        "message": "={{ $json['Message '] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        16
      ],
      "id": "f5b8d63f-7aeb-4e56-9be2-6e09cc36c606",
      "name": "Send a message",
      "webhookId": "d4c05676-5862-4d54-990e-ec2d06b2c948",
      "credentials": {
        "gmailOAuth2": {
          "id": "IaqEmtndLQEyWx4r",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66b7be05-4e48-450e-a2a2-84d1d0071ee8",
              "name": "to",
              "value": "askkashir@gmail.com",
              "type": "string"
            },
            {
              "id": "f46b6163-a033-43e7-a3e6-0531153a381d",
              "name": "Subject ",
              "value": "{{ String($json.tech_update.title || \"Tech Updates\") }}",
              "type": "string"
            },
            {
              "id": "a1b3459f-3a7f-483f-92c5-0de5e4d1f132",
              "name": "Message ",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        18.629187591806335
      ],
      "id": "56a579eb-38fe-4720-a73c-5655a22c2326",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff30dbf0-c2f1-4014-b236-9c71570e8ab6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ae4d5ec62da5e6633f8ef6052663980b795a40a76f2b4ef7ecce2d20aecbd14"
  },
  "id": "7apzAQJf0qtIvbO0",
  "tags": []
}